 header { 
     display: flex;
    align-items: center;
    justify-content: space-between;
     position: fixed; 
     left: 0;
     right: 0;
     top: 0px;
     
    padding: 10px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.397);
    margin: 2em;
    overflow: none;
    
/*     
     position: fixed;
    top: -8px;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em; */

}
.left-header {
    font-family: Great3;
    z-index: 999;
}
.right-header {
   z-index: 999;
 
 li {
    list-style: none;
    display: none;
    cursor: pointer;
 }
 a {
    text-decoration: none;
 }
}

.icon {
    width: 45px;
    height:45px;
    background-color:hsla(234, 5%, 60%, 0.168);
    backdrop-filter: blur(1.5rem);
    padding: 10px;
    border-radius: 12px;
    opacity: blur;
    border-radius: 999px;
    position: relative;
    top: 80px;
    left: -1em;
    overflow-x: none;
    
}

@media (min-width:768px) {
    .right-header {
       li {
        display: block;
       }
       ul {
        display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 20px;
    font-family: Great1;
       }
    }
}
    


