 header { 
    background-color: rgb;
     position: fixed;
    top: -1em;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.59);
}
.left-header {
    font-family: Great3;
}
.right-header {
   z-index: 999;
 
 li {
    list-style: none;
    display: none;
    cursor: pointer;
 }
 a {
    text-decoration: none;
 }
}

.icon {
    width: 50px;
    height:50px;
    background-color:hsla(234, 5%, 60%, 0.285);
    backdrop-filter: blur(1.5rem);
    padding: 10px;
    border-radius: 12px;
    border-radius: 999px;
    backdrop-filter: blur(20em);    
}

@media (min-width:768px) {
    .right-header {
       li {
        display: block;
       }
       ul {
        display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 20px;
    font-family: Great1;
       }
    }
    header {
        display: flex;
        justify-content: space-between;
    }
}
    


